@font-face {
    font-family: Dream Avenue ;
    src: url(FontsFree-Net-Dream-Avenue.ttf);
}
@font-face{
    font-family: typewriter;
    src: url(typewcond_regular.otf)
}
@font-face {
    font-family: brownsugar;
    src: url(brown-sugar.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: none;
}
:root{
    --bg-color: #1a0b1a;
    --second-bg-color: #341d2f;
    --text-color: #584f5a;
    --main-color: #6d3b52;
}
html{
    font-size: 90%;
    color:#1a151b;
    overflow-x: hidden;
}
body{
    background-image: url("IMG_1312.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
.logo a{
    background: #341d2f; 
    font-family: calibri; 
    padding-right: 15px;
    padding-left: 15px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-family: Dream Avenue;
    font-size: 80px; 
    font-weight: 600; 
    color: #f8ea8d;
    justify-content: center;
}
.navbar{
    background: #341d2f; 
    font-family: calibri; 
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
a{
    color: white;
    font-family: "Duru Sans", sans-serif;
    font-size: 20px; 
    font-weight: bold; 
    margin-right: 30px;
}
.aboutme{
    width: 100%;
    height: 60%;
    background: #bb95a785;
}
.aboutme img{
    display: block;
    margin: 0px auto;
    background: #341d2fb2;
}
.aboutme h2{
    padding-top: 15px;
    font-family: brownsugar;
    font-size: 50px;
    text-align: center;
}
.aboutme p{
    font-family: typewriter;
    font-size: 30px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.achievements{
    width: 100%;
    height: 60%;
    background: #765d67ab;  
}
.achievements h2{
    padding-top: 15px;
    font-family: brownsugar;
    font-size: 50px;
    text-align: center;
}
.achievements li{
    font-family: typewriter;
    font-size: 30px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.skill{
    width: 100%;
    height: 60%;
    background: #bb95a785;   
}
.skill h2{
    padding-top: 15px;
    font-family: brownsugar;
    font-size: 50px;
    text-align: center;  
}
.skill h4{
    padding-top: 15px;
    font-family: typewriter;
    font-size: 40px;
    text-align: center;
}
.skill li{
    font-family: typewriter;
    font-size: 30px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.activity{
    width: 100%;
    height: 60%;
    background: #765d67ab;  
}
.activity h2{
    padding-top: 15px;
    font-family: brownsugar;
    font-size: 50px;
    text-align: center;  
}
.activity p{
    padding-top: 15px;
    font-family: typewriter;
    font-size: 40px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    font-weight: 500;
}
.activity img{
    display: block;
    margin: 0px auto;
    padding-bottom: 15px;
}
